/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/JoinUsPopup.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.JoinUsPopup_overlay__sud5n {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .JoinUsPopup_popup__Racmh {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s all;
    background: #fff;
position: relative;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: "Gilroy";
  }
  .JoinUsPopup_popup__Racmh h2{
    color: #11235d;
  }
  
  .JoinUsPopup_buttons___mVOz {
    margin-top: 20px;
    font-family: "Gilroy";
  }
  
 .JoinUsPopup_buttons___mVOz button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #0d3bbc, #11235d);
    color: #fff;
    border-radius: 12px;

  }
  .JoinUsPopup_cb__4HzYF{
    width: 70px;
    height: 30px;
        margin-top: 5px;
        border: none;
        background: linear-gradient(to right, #0d3bbc, #11235d);
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
  }
  
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Loader.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Loader_loader__0RxP_{
    width: 100%;
    height: 1000vh;
    background-color: #fff;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
.Loader_loader__0RxP_ img{
    width: 70px;
    color: blue;
    height: 70px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/NavBar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.NavBar_nav__i8le3 {
  width: 100%;
  height: 17vh;
  /* background-color: rebeccapurple; */
  border-bottom: 2px solid silver;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Gilroy";
}
.NavBar_nav__i8le3 a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.NavBar_nav__i8le3 .NavBar_middle__NRFPQ a:hover {
  font-weight: 700;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.21s all;
}
.NavBar_middle__NRFPQ {
  width: 45vw;
  /* background-color: red; */
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavBar_join__i4PR4 {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 17px;
  background: linear-gradient(to right, #0d3bbc, #11235d);
  color: #fff;
  font-weight: 500;
  font-family: "Gilroy";
  cursor: pointer;
}

.NavBar_hamburgericon__JAlwo {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  outline: none;
}
.NavBar_hmbutton__Hyp8l {
  display: none;
}

.NavBar_line__YbAeU {
  width: 100%;
  height: 4px;
  background-color: #000; /* Adjust the color as needed */
  transition: 0.3s;
}

.NavBar_hamburgericon__JAlwo.NavBar_open__wVZJO .NavBar_line__YbAeU:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.NavBar_hamburgericon__JAlwo.NavBar_open__wVZJO .NavBar_line__YbAeU:nth-child(2) {
  opacity: 0;
}

.NavBar_hamburgericon__JAlwo.NavBar_open__wVZJO .NavBar_line__YbAeU:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.NavBar_menu__LcKYk{
    display: none;
}

@media (max-width: 568px) {
  .NavBar_nav__i8le3 img {
    width: 80px;
    height: 30px;
  }

  .NavBar_middle__NRFPQ {
    display: none;
  }
  .NavBar_hmbutton__Hyp8l {
    display: initial;
  }
  .NavBar_menu__LcKYk{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
background-color: #dadada;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .NavBar_menu__LcKYk a{
    text-decoration: none;
    color: black;
    font-family: "Gilroy";
  }
  .NavBar_join__i4PR4{
    display: none;
  }
  .NavBar_nav__i8le3 img{
    width: 30%;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/WebDev.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.WebDev_wdpage1__ncUaw{
    width: 100%;
    height: 100vh;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage1left__dtWiZ{
    width: 40%;
    height: 100%;
    /* background-color: pink; */
font-family: "Gilroy";
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
justify-content: center;
}
.WebDev_wdpage1right__rAcvQ{
    width: 40%;
    height: 100%;
    /* background-color:greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage1right__rAcvQ img{
    width: 90%;
    height: 50%;
}
.WebDev_wdpage1left__dtWiZ h3{
    color: orange;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: -35px;
}
.WebDev_wdpage1left__dtWiZ h1{
    color: #071c54;
    font-size: 60px;
    margin-bottom: -3px;
}
.WebDev_wdpage1left__dtWiZ p{
    color: rgb(119, 119, 119);
    width: 40vw;
    /* background-color: red; */
    line-height: 22px;
    font-size: 12px;
}
.WebDev_dmoreweb__WEYrU{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 17px;
    background: linear-gradient(to right, #0d3bbc, #11235d);
    color: #fff;
    font-weight: 500;
    padding: 5px;
    margin-top: 20px;
    font-family: "Gilroy";
}
.WebDev_wdpage2__rJvAj{
    width: 100%;
    height: 100vh;
    /* background-color: #4e0000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage2left__3cQO4{
    width: 30%;
    height: 75%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage2right__IBpe6{
    width: 50%;
    height: 75%;
    /* background-color: green; */
    font-family: "Gilroy";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.WebDev_wdpage2left__3cQO4 img{
    width: 75%;
    height: 75%;
}
.WebDev_wdpage2right__IBpe6 h1{
    color: #071c54;
}
.WebDev_wdpage2right__IBpe6 p{
    color: rgb(119, 119, 119);
    line-height: 25px;
    font-size: 15px;
}
.WebDev_wdpage3__HyCI5{
    width: 100%;
    height: 10vh;
    /* background-color: brown; */
    font-family: "Gilroy";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.WebDev_numwh__NgcrU{
    width: 17%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rebeccapurple; */
  
}
.WebDev_number__PqF28{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
}
.WebDev_number__PqF28 img{
    width: 35px;
    height: 35px;
}
.WebDev_wdpage4__xlyJq{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage4center__1Oiko{
    width: 80%;
    height: 50%;
    border-radius: 60px;
    background: linear-gradient(to right, #0d3bbc, #11235d);
}
.WebDev_wdpage4center__1Oiko
{
    font-family: "Gilroy";
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage4center__1Oiko p{
    font-size: 11px;
    text-align: center;
    line-height: 23px;
}
.WebDev_wdpage5__JjaFl{
    width: 100%;
    height: 100vh;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.WebDev_wdpage5top__rJv2I{
    width: 80%;
    height: 10%;
    /* background-color: rebeccapurple; */
    font-family: "Gilroy";
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.WebDev_wdpage5middle__Z9Xv_{
    width: 80%;
    height: 40%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    font-family: "Gilroy";
}
.WebDev_wdpage5down__OJpBm{
    width: 80%;
    height: 40%;
    /* background-color: yellow; */
    font-family: "Gilroy";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}
.WebDev_box1__UR3mO{
    width: 350px;
    height: 150px;
    border-radius: 20px;
    background-color: #e8e8e8;
}
.WebDev_box2__0H7C5{
    z-index: 999;
    margin-top:90px;
    width: 350px;
    height: 240px;
    border-radius: 20px;
    background-color: #e8e8e8;
}





.WebDev_wdpage6__3LcR3{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WebDev_wdpage6top____vDe{
    width: 100%;
    height: 10%;
    /* background-color: red; */
}
.WebDev_wdr__5_Kh3{
    margin-left: 11vw;
}
.WebDev_wdpage6down__EG1OY{
    width: 100%;
    height: 80%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.WebDev_slidercontainer__fvm6J{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

  }
  
  .WebDev_slider__ahZnF {
    overflow: hidden;
    width: 600px; /* Adjust the width as needed */
  }
  
  .WebDev_cards__G7LfU {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .WebDev_card__BGUk6 {
    box-sizing: border-box;
    width: 50vw;
    height: 40vh;
border-radius: 30px;
    color: #fff; /* Adjust the text color as needed */
    border: 1px solid silver;
    margin-right: 20px;
    padding: 15px;
  }
  
 .WebDev_wdpage6down__EG1OY button {
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
.WebDev_wdpage6down__EG1OY  button:hover {
    background-color: #2980b9; /* Adjust the hover background color as needed */
  }
  
  .WebDev_topinfo__0r_kv{
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Gilroy";
    gap: 62px;
    color: silver;
}
.WebDev_topinfo__0r_kv p{
    color: rgb(119, 119, 119);
}
.WebDev_topinfo__0r_kv img{
    width: 95px;
    height: 20px;
}
.WebDev_card__BGUk6 h4{
    font-family: "Gilroy";
    font-size: 13px;
    color: black;
}
.WebDev_card__BGUk6 p{
    color: silver;
    font-family: "Gilroy";
    font-size: 13px;
    line-height: 22px;
}
.WebDev_bottominfo__mDvgj{
    width: 100%;
    height: 10%;
    /* background-color: gainsboro; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.WebDev_bottominfo__mDvgj p{
    font-size: 12px;
}
.WebDev_buttonbox__6A7Vz{
    width: 100%;
    height: 40%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: blue; */
}
.WebDev_buttonbox__6A7Vz button{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 17px;
    background: linear-gradient(to right, #0d3bbc, #11235d);
    color: #fff;
    font-weight: 500;
    padding: 5px;
    margin-bottom: -2px;
    font-family: "Gilroy";
}
.WebDev_cards__G7LfU {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Add transition for smooth sliding */
    width: 170%; /* Set a fixed width to accommodate all cards */
  }
  
  .WebDev_card__BGUk6 {
    flex: 0 0 33.33%; /* Set a fixed width for each card (33.33% for 3 cards) */
    box-sizing: border-box;
  }
  .WebDev_head__zAY7J{
    color: rebeccapurple;
  }

   @media (max-width:568px) {
    .WebDev_wdpage1__ncUaw{
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: yellow; */
    }
.WebDev_wdpage1left__dtWiZ{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}
.WebDev_wdpage1left__dtWiZ h1{
  font-size: 45px;
}



.WebDev_wdpage1right__rAcvQ{
    display: none;
   
}
.WebDev_wdpage2__rJvAj{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    /* background-color: aqua; */
}
.WebDev_wdpage2left__3cQO4{
    display: none;
    /* background-color: greenyellow; */
}
.WebDev_wdpage2right__IBpe6{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: greenyellow; */
    margin-bottom: 30px;
}
.WebDev_wdpage3__HyCI5{
    /* background-color: aqua; */
    display: none;

}
.WebDev_wdpage4__xlyJq{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
}
.WebDev_wdpage4center__1Oiko{
    width: 100%;

    text-align: center;
    padding-top: 80px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 60px;
    background: linear-gradient(to right, #0d3bbc, #11235d);
}
.WebDev_wdpage5top__rJv2I{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.WebDev_wdpage5top__rJv2I h1{
    font-size: 23px;
}
.WebDev_wdpage6top____vDe{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */

}
.WebDev_wdr__5_Kh3{
    font-size: 23px;
    margin-left: 0vw;
}
.WebDev_wdpage6__3LcR3{
    overflow: hidden;
}
.WebDev_card__BGUk6 {
    flex: 0 0 23.33%; /* Set a fixed width for each card (33.33% for 3 cards) */
    box-sizing: border-box;
  }
  .WebDev_topinfo__0r_kv img{
    width: 50px;
    height: 10px;
  }
  .WebDev_bottominfo__mDvgj{
    display: none;
  }

   }
